* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 20%;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

h1 {
    color: #20C20E;
}

.clock-face {
    display: flex;
    align-items: center;
    justify-content: center;
}

#txt {
    font-weight: 700;
    font-size: 10px;
    color: #20C20E;
    position: fixed;
}